.btn {
  -moz-border-radius   : 0;
  -webkit-border-radius: 0;
  background-image     : -moz-linear-gradient(top, #3498db, #2980b9);
  background-image     : -ms-linear-gradient(top, #3498db, #2980b9);
  background-image     : -o-linear-gradient(top, #3498db, #2980b9);
  background-image     : -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image     : linear-gradient(to bottom, #3498db, #2980b9);
  background           : #3498db;
  border-radius        : 0px;
  color                : #ffffff;
  font-family          : Arial;
  font-size            : 12px;
  padding              : 5px 10px 5px 10px;
  text-decoration      : none;
}

.btn:hover {
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  background      : #3cb0fd;
  text-decoration : none;
}

.bi bi-search {
  color: fff;
}

.card-header {
  text-align: center;
}

.col-sm-2 {
  display: inline-block;
}