/* Button */
.btn {
  background           : #3498db;
  background-image     : -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image     : -moz-linear-gradient(top, #3498db, #2980b9);
  background-image     : -ms-linear-gradient(top, #3498db, #2980b9);
  background-image     : -o-linear-gradient(top, #3498db, #2980b9);
  background-image     : linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius   : 0;
  border-radius        : 0px;
  color                : #ffffff;
  font-family          : Arial;
  font-size            : 20px;
  padding              : 10px 20px 10px 20px;
  text-decoration      : none;
  width                : fit-content;
  margin-bottom        : 10px;
  margin-top           : 10px;
}
.btn:hover {
  background      : #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration : none;
}
/* card */
.card-header {
  text-align: center;
}
.today-card {
  background-color: #3498db;
  text-align      : center;
}
.forecastCard {
  font-size       : .9rem;
  /* height       : fit-content; */
  margin-bottom   : .2vh;
  margin-top      : .2vh;
  background      : #3498db;
}
.col-sm-2 {
  display: inline-block;
}
#city-form .btn {
  align-content  : center;
  font-family    : Arial;
  font-size      : 20px;
  text-decoration: none;
}
#city-form {
  width: 100%;
}
img {
  width: 90px;
}
h5,
h6 {
  text-align    : center;
  text-transform: uppercase;
}
#current-icon,
#icon1,
#icon2,
#icon3,
#icon4,
#icon5 {
  margin: auto;
}
tr {
  text-align: center;
}
.moderateLevel {
  background-color: rgb(255, 204, 29);
}
.severeLevel {
  background-color: rgb(255, 23, 0);
}
.favorableLevel {
  background-color: rgb(78, 159, 61);
}